{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "zmatterballdie"
    },
    {
      "action" : "light",
      "color" : "red"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/melee/zmatterexplode.wav" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 6,
      "backgroundRadius" : 0,
      "tileDamageType" : "crushing",
      "tileDamage" : 1.0,
      "tileDamageBlunted" : 1.0,
      "explosiveDamageAmount" : 10000,
      "delaySteps" : 2
    }

  ]
}
