{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "LaserMinerExplosion"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/LaserMinerExplosion.wav" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 2,
      "explosiveDamageAmount" : 3,
      "delaySteps" : 2
    }

  ]
}
