 {
  "__merge" : [],
  "species" : [ "dummy" ],
  "defaultBlueprints" : {
	  "tier1" : [
	    { "item" : "smallwallswitch" },
		{ "item" : "ele_battery" },
		{ "item" : "ele_portablebattery" },
		{ "item" : "ele_tank" },
		{ "item" : "ele_pump" },
		{ "item" : "ele_portabletank" },
		{ "item" : "ele_blockbreaker" },
		{ "item" : "ele_geoturbine" },
		{ "item" : "ele_hydroturbine" },
		{ "item" : "ele_detector" },
		{ "item" : "ele_dispense" },
		{ "item" : "ele_dispenser" },
		{ "item" : "ele_invasion" },
		{ "item" : "ele_springtrap" },
		{ "item" : "ele_monsterfan" },
		{ "item" : "ele_itemteleporter" },
		{ "item" : "ele_magneticchest" },
		{ "item" : "ele_healstation" },
		{ "item" : "ele_mannequin" },

		{ "item" : "ele_craftingtable" },
		{ "item" : "ele_plumberstation" },
		{ "item" : "ele_quarry" },
		{ "item" : "ele_marker" },
		{ "item" : "ele_placeholder" },
		{ "item" : "ele_sawblade" },
		{ "item" : "ele_solarpanel" },
		{ "item" : "ele_speartrap" },
		{ "item" : "ele_turret" },
		{ "item" : "wiretool" },
		{ "item" : "ele_wrench" },
		{ "item" : "ele_woodturret" },
		{ "item" : "ele_pipebottom" },
		{ "item" : "ele_pipehoriz" },
		{ "item" : "ele_pipelb" },
		{ "item" : "ele_pipeleft" },
		{ "item" : "ele_pipelt" },
		{ "item" : "ele_piperb" },
		{ "item" : "ele_piperight" },
		{ "item" : "ele_pipert" },
		{ "item" : "ele_pipetop" },
		{ "item" : "ele_pipevert" }
	  ]
  }
}