{
  "__merge" : [],
  "liquids" : {
    // PFC
    "8" : {
      "name" : "pfc",
      "texture" : "/pfctex.png",
      "blockGenerationChance" : 0.000,
      "blockOptions" : [ "sand2" ],
      "drawMinimum" : 0.1,
      "color" : [255, 116, 0, 100],
      "bottomLightMix" : [0, 78, 255],
      "bottomLightMultiplier" : 2,
      "textureMovementFactor" : 8,
      "breathable" : "default",
	  
	  "ontouchStatusEffects" : [
        {
          "kind" : "breathprotection"
        },
        {
          "kind" : "ColdProtection",
          "amount" : 400
        }
      ]
    }
  }
}
