
    {
      "__merge" : [],
      "defaultBlueprints" : {
        "tier1" : [
		  { "item" : "greyairlockhatch" },
          { "item" : "airlockhatch" },
		  { "item" : "apexslidinghatch1" },
		  { "item" : "apexslidinghatch2" },
		  { "item" : "bunkerslidinghatch" },
		  { "item" : "cellhatch" },
		  { "item" : "coolhatch" },
		  { "item" : "electrichatch" },
		  { "item" : "fleshhatch" },
		  { "item" : "planthatch1" },
		  { "item" : "planthatch2" },
		  { "item" : "shiphatch" },
		  { "item" : "slidinghatch" },
		  { "item" : "tier4hatch" },
		  { "item" : "tier7hatch" },
		  { "item" : "tier8hatch" },
		  { "item" : "tier10hatch" }
        ]
      }
    }
