{
  "__merge" : [],
  "defaultBlueprints" : {
    "__merge" : [
    ],
    "tier1" : [ { "item" : "powerbeam" },
			    { "item" : "beamaxe" },
			    { "item" : "zerosuitchest" },
			    { "item" : "zerosuitpants" },
				{ "item" : "flashlight" }
			  ],
			  
	"tier2" : [ { "item" : "wavebeam" },
				{ "item" : "grapplebeam" }
			  ],
			  
	"tier3" : [ { "item" : "icebeam" }
			  ],
			  
	"tier4" : [ { "item" : "plasmabeam" },
				{ "item" : "phazonbeam" },
				{ "item" : "darkbeam" },
				{ "item" : "lightbeam" }
			  ]
  }
}