{
  "__merge" : [],
  "sectors" : [
    {
      "id" : "alpha",
      "name" : "Alpha Sector",
      "sectorSeed" : 71707887027,
      "prefix" : "Alpha",
      "sectorSymbol" : "/celestial/sector/1.png",
      "hueShift" : -30,

      "worldParameters" : {
        "threatLevel" : [1, 1],
        "unlockedBiomes" : [ "arid", "desert", "forest", "snow", "moon", "barren", "asteroidfield", "superasteroid" ]
      }
    },

    {
      "id" : "beta",
      "name" : "Beta Sector",
      "sectorSeed" : 912044941247,
      "prefix" : "Beta",
      "sectorSymbol" : "/celestial/sector/2.png",
      "hueShift" : 0,

      "worldParameters" : {
        "threatLevel" : [2, 2],
        "unlockedBiomes" : [ "arid", "desert", "forest", "snow", "moon", "jungle", "barren", "asteroidfield", "superasteroid" ]
      }
    },

    {
      "id" : "gamma",
      "name" : "Gamma Sector",
      "sectorSeed" : 877461781495,
      "prefix" : "Gamma",
      "sectorSymbol" : "/celestial/sector/3.png",
      "hueShift" : 30,

      "worldParameters" : {
        "threatLevel" : [3, 3],
        "unlockedBiomes" : [ "arid", "desert", "forest", "snow", "moon", "jungle", "grasslands", "barren", "asteroidfield", "superasteroid" ]
      }
    },

    {
      "id" : "delta",
      "name" : "Delta Sector",
      "sectorSeed" : 914461284455,
      "prefix" : "Delta",
      "sectorSymbol" : "/celestial/sector/4.png",
      "hueShift" : 60,

      "worldParameters" : {
        "threatLevel" : [4, 4],
        "unlockedBiomes" : [ "arid", "desert", "forest", "snow", "moon", "jungle", "grasslands", "magma", "tentacles", "tundra", "volcanic", "barren", "asteroidfield", "superasteroid" ]
      }
    },

    {
      "id" : "sectorx",
      "name" : "X Sector",
      "sectorSeed" : 427469981495,
      "prefix" : "X",
      "sectorSymbol" : "/celestial/sector/x.png",
      "hueShift" : 90,

      "worldParameters" : {
        "threatLevel" : [5, 10],
        "unlockedBiomes" : [ "arid", "desert", "forest", "snow", "moon", "jungle", "grasslands", "magma", "tentacles", "tundra", "volcanic", "barren", "asteroidfield", "superasteroid" ]
      }
    }
  ],
  "satelliteTypes" : {
    "Ship" : {
      "selectionWeight" : 0.1,
      "baseParameters" : {
        "type" : "Landable",
        "description" : "Super Asteroid",
        "atmosphere" : false,

        "biomeMaskImages" : "/celestial/superasteroid.png",
        "biomeMasks" : 4,
        "dynamicsImages" : "/celestial/superasteroid.png",
        "dynamicsRange" : [1, 1]
      },

      "variationParameters" : [
        {
          "imageScale" : 0.1,
          "worldSize" : "superasteroid"
        }
      ],

      "orbitParameters" : {
        "Hot" : [
          {
            "availableBiomes" : [ "superasteroid" ]
          }
        ],
        "Mild" : [
          {
            "availableBiomes" : [ "superasteroid" ]
          }
        ],
        "Cold" : [
          {
            "availableBiomes" : [ "superasteroid" ]
          }
        ]
      }
    }
  }
}
