{
  "__merge" : [],
  "planetSizes" : {
    "superasteroid" : {
      "size" : [4000, 4000],
      "description" : "small",
      "surfaceLevel" : 600,
      "undergroundLevel" : 550,
      "bedrockLevel" : 460,
      "lavaLevel" : 32,
      "spaceBoundary" : 3000,

      "blendSize" : 60,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 5,
      "detachedBiomeRadius" : 220,

      "undergroundDetachedBiomeCount" : 6,
      "undergroundDetachedBiomeRadius" : 500,
      "undergroundDetachedBiomeEnvironmentRadius" : 510,
      "undergroundDetachedBiomeHeightVariance" : 20,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 1,
      "surfaceDungeonCount" : 0
    }
  }
}
