{
  "__merge" : [],
  "defaultBlueprints" : {
    "tier1" : [
      { "item" : "z_0" },
      { "item" : "z_1" },
      { "item" : "z_2" },
      { "item" : "z_3" },
      { "item" : "z_4" },
      { "item" : "z_5" },
      { "item" : "z_6" },
      { "item" : "z_7" },
      { "item" : "z_8" },
      { "item" : "z_9" },
      { "item" : "z_a" },
      { "item" : "z_b" },
      { "item" : "z_c" },
      { "item" : "z_d" },
      { "item" : "z_e" },
      { "item" : "z_f" },
      { "item" : "z_g" },
      { "item" : "z_h" },
      { "item" : "z_i" },
      { "item" : "z_j" },
      { "item" : "z_k" },
      { "item" : "z_l" },
      { "item" : "z_m" },
      { "item" : "z_n" },
      { "item" : "z_o" },
      { "item" : "z_p" },
      { "item" : "z_q" },
      { "item" : "z_r" },
      { "item" : "z_s" },
      { "item" : "z_t" },
      { "item" : "z_u" },
      { "item" : "z_v" },
      { "item" : "z_w" },
      { "item" : "z_x" },
      { "item" : "z_y" },
      { "item" : "z_z" },
      { "item" : "z_space" },
      { "item" : "z_dot" },
      { "item" : "z_exclamation" },
      { "item" : "z_question" },
      { "item" : "zshipmusic" },
      { "item" : "zabcprinter" },
      { "item" : "zresearchtable" },
	  { "item" : "zstaff1" },
      { "item" : "zstaff7-recipe" },
      { "item" : "zcraftingtable" },
      { "item" : "zstaffstation" },
      { "item" : "zvanitystation" },
      { "item" : "zwhiteflag" },
      { "item" : "zhat1" },
      { "item" : "zhat2" },
      { "item" : "zhat3" },
      { "item" : "zhat4" },
      { "item" : "zhat5" },
      { "item" : "zhat6" },
      { "item" : "zhat7" },
      { "item" : "zhat8" },
      { "item" : "zhat9" },
      { "item" : "zhat10" },
      { "item" : "zhat11" },
      { "item" : "zhat12" },
      { "item" : "zhat13" },
      { "item" : "zhat14" },
      { "item" : "zhat15" },
      { "item" : "zhat16" },
      { "item" : "zhat17" },
      { "item" : "zhat18" },
      { "item" : "zhat19" },
      { "item" : "zhat20" },
      { "item" : "zhat21" },
      { "item" : "zhat22" },
      { "item" : "zmagnify_t1" },
      { "item" : "zdragonstaff-recipe" },
      { "item" : "zstaff6-recipe" },
      { "item" : "zrocketstaff-recipe" },
      { "item" : "money" },
      { "item" : "zfishgun" },
      { "item" : "ironaxe" },
      { "item" : "silveraxe" },
      { "item" : "goldaxe" },
      { "item" : "diamondaxe" },
      { "item" : "zwindcannon" },
      { "item" : "zkatana" },
      { "item" : "zchest" },
      { "item" : "zshortsword" },
      { "item" : "zairvent" },
      { "item" : "zheatvent" }
    ],
    "tier2" : [
      { "item" : "zstaff3" },
      { "item" : "wstaff1" },
      { "item" : "zmagnify_t2" },
      { "item" : "tcannon1" }
    ],
    "tier3" : [
      { "item" : "zstaff4" },
      { "item" : "zholidaystaff" },
      { "item" : "tcannon2" },
      { "item" : "zmagnify_t3" },
      { "item" : "zbandage" }
    ],
    "tier4" : [
      { "item" : "zstaff5" },
      { "item" : "zstaff2" },
      { "item" : "tcannon3" },
      { "item" : "zmagnify_t4" },
      { "item" : "zsentry" }
    ],
    "level32" : [
      { "item" : "zmagnify_t5" }
    ],
    "level33" : [
      { "item" : "zmagnify_t6" }
    ],
    "level34" : [
      { "item" : "zmagnify_t7" }
    ],
    "level35" : [
      { "item" : "zmagnify_t8" }
    ],
    "level36" : [
      { "item" : "zmagnify_t9" }
    ],
    "level37" : [
      { "item" : "zmagnify_t10" }
    ]
  }
}