{
  "__merge" : [],
  "defaultBlueprints" : {
    "__merge" : [],
    "tier1" : [
      { "item" : "ptmagnetizeTech-chip" },
      { "item" : "ptmagnetblocknegneutstrong" },
      { "item" : "ptmagnetblocknegneutweak" },
      { "item" : "ptmagnetblockposneutstrong" },
      { "item" : "ptmagnetblockposneutweak" },
      { "item" : "ptmagnetblockposnegstrong" },
      { "item" : "ptmagnetblockposnegweak" }
    ]
  }
}