{
  "__merge" : [],
  "initialquests" : {
    "__merge" : [
      [ "overwrite", "glitch"], [ "overwrite", "human"], [ "overwrite", "avian"], [ "overwrite", "apex"], [ "overwrite", "floran"], [ "overwrite", "hylotl"]
    ],
    "glitch" : [ "glitchtutorial.gearup", "scavenger" ],
    "human" : [ "humantutorial.gearup", "scavenger" ],
    "avian" : [ "aviantutorial.gearup", "scavenger" ],
    "apex" : [ "apextutorial.gearup", "scavenger" ],
    "floran" : [ "florantutorial.gearup", "scavenger" ],
    "hylotl" : [ "hylotltutorial.gearup", "scavenger" ]
  }
}
