{
  "__merge" : [],
  "hadouken" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 1.0,
    "maxMovementPerStep" : 0.4,
    "groundSlideMovementEnabled" : false,
    "collisionPoly" : [ [-1.9, -1], [1.9, -1], [1.9, 1], [-1.9, 1] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "speedLimit" : null
  },
  "shoryuken" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 1.0,
    "maxMovementPerStep" : 0.4,
    "groundSlideMovementEnabled" : false,
	"collisionPoly" : [ [-1.9, -1], [1.9, -1], [1.9, 1], [-1.9, 1] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "speedLimit" : null
  },
  "shadouken" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 0.7,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.4, -1.4], [0.4, -1.4], [0.4, 1.8], [-0.4, 1.4] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "groundFriction" : 15.0
  },
  "shadoukenblue" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 0.7,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [0, 0], [0, 0], [0, 0], [0, 0] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "groundFriction" : 15.0
  },
  "shadoukendamage" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 1.0,
    "maxMovementPerStep" : 0.4,
    "groundSlideMovementEnabled" : false,
    "collisionPoly" : [ [-1.9, -1.5], [1.9, -1.5], [1.9, 1.5], [-1.9, 1.5] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "speedLimit" : null
  }
}
