{
//  "__merge" : "nil", // sets file to nil, for some configs this will be treated asif the file was deleted
  "__merge" : [],
  "defaultBlueprints" : {
    "__merge" : [],
    "tier1" : [
				{ "item" : "generatedshield", "count" : 1, "data" : { "definition" : "energyshield", "level" : 1 } },
				{ "item" : "generatedshield", "count" : 1, "data" : { "definition" : "energyshieldbrown", "level" : 1 } },
				{ "item" : "generatedshield", "count" : 1, "data" : { "definition" : "energyshieldblue", "level" : 1 } } 				
				]
  }
}