{
  "__merge" : [],
  "defaultBlueprints" : {
    "tier1" : [
      { "item" : "dyeingmachine" },
      { "item" : "cleardye" },
      { "item" : "blackdye" },
      { "item" : "browndye" },
      { "item" : "greendye" },
      { "item" : "greydye" },
      { "item" : "orangedye" },
      { "item" : "pinkdye" },
      { "item" : "purpledye" },
      { "item" : "whitedye" },
      { "item" : "limedye" },
      { "item" : "tealdye" }
    ]
  }
}
