{
  "__merge" : [ ["overwrite", "nothingThere"] ],
  "nothingThere" : [
    "Nothing of interest here.",
    "Nothing to see here.",
    "Nope, didn't find anything.",
    "Oh. My. God!  It's a... wait... nope sorry, nothing.",
    "My God, it's full of nothing.",
    "If at first you don't succeed keep looking at the nothing.",
    "You try hard to make something out there, but fail.",
    "Nada, nothing, zilch, zip.",
    "I need nothing. I seek nothing. I desire nothing.  There is plenty of nothing here.",
    "To look at nothing is the way to be nothing.",
    "Do not look too far for you will see nothing.",
    "There is nothing, and not even that.",
    "I love to look at nothing. It's the only thing I know anything about.",
    "I am the wisest one alive, for I know one thing, and that is that I know there is nothing there.",
    "Nothing is part of everything.",
    "And then, a strangely comforting thought trickled through me.  I had nothing, so I could do anything now. Anything I wanted. I had nothing left to lose.  Yet I'm still looking at nothing.",
	"Nothing is made, nothing disappears. The same changes, at the same places, never stopping.",
	"I know only that it is time for me to look at something when I am looking at nothing.",
	"Darkness does not age; nothing is always nothing.",
	"Anything can happen in life, especially looking at nothing.",
	"From everything, nothing looks to nothing.",
	"From nothing comes everything.",
	"Everything and nothing are the same in the Absolute.",
	"There's nothing I hate more than nothing. Nothing keeps me up at night. I toss and turn over nothing. Nothing could cause a great big fight.",
	"Without nothing, everything would be nothing.",
	"Sometimes... nothing is much better than something.",
	"Nothing happened. Nothing continued to happen. More Nothing. The Return of Nothing. Son of Nothing. Nothing Rides Again. Nothing and Abbot and Costello meet the Wolfman...",
	"If nothing lasts forever, then I am forever looking at nothing.",
	"Nothing happens. And by that I mean nothing.",
	"Nothing at all. Everywhere there is. Both at once?",
	"Well, I have learned nothing from my mistakes.",
	"I must be made of nothing to look at so much nothing.",
	"One who has lost confidence can lose nothing more.",
	"The world knows nothing of you. That is my gift to you. You are no one.",
	"I was born with nothing and I still have nothing. And tomorrow is nothing.",
	"Tired, tired with nothing, tired with everything, tired with the world's weight I had never chosen to bear.",
	"There's no such thing as nothing. In every nothing, there's a something. In fact, there could be everything."
  ]
}