{
  "__merge" : [],
  "wavebeam" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 1.0,
    "maxMovementPerStep" : 0.4,
    "groundSlideMovementEnabled" : true,
    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0,
    "liquidFriction" : 0.0,
    "speedLimit" : null
  },

  "powerbeam" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 1.0,
    "maxMovementPerStep" : 0.4,
    "groundSlideMovementEnabled" : false,
    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0,
    "liquidFriction" : 0.0,
    "speedLimit" : null
  },
  
  "plasmabeam" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 1.0,
    "maxMovementPerStep" : 0.4,
    "groundSlideMovementEnabled" : false,
    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0,
    "liquidFriction" : 0.0,
    "speedLimit" : null
  },
  
  "icebeam" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 1.0,
    "maxMovementPerStep" : 0.4,
    "groundSlideMovementEnabled" : false,
    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0,
    "liquidFriction" : 0.0,
    "speedLimit" : null
  },
  
  "darkbeam" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 1.0,
    "maxMovementPerStep" : 0.4,
    "groundSlideMovementEnabled" : false,
    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0,
    "liquidFriction" : 0.0,
    "speedLimit" : null
  },
  
  "lightbeam" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 1.0,
    "maxMovementPerStep" : 0.4,
    "groundSlideMovementEnabled" : false,
    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0,
    "liquidFriction" : 0.0,
    "speedLimit" : null
  },
  
  "phazonbeam" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 1.0,
    "maxMovementPerStep" : 0.4,
    "groundSlideMovementEnabled" : false,
    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0,
    "liquidFriction" : 0.0,
    "speedLimit" : null
  }
}
